* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-areas: "nav" "content";
  grid-template-rows: 10vh 90vh;
  font-family: "Rubik", sans-serif;
}

.nav {
  grid-area: nav;
  background: #2d2d2d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav > header > span > a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.nav > article .item {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  padding: 0px 50px;
}

.content {
  grid-area: content;
  background: linear-gradient(90deg, #f1a10a 0%, #342303 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
